<header class="header">
  <h1>New todo list</h1>

  <div class="back_new">
    <%= link_to "Back", todo_lists_path %>
  </div>
</header>

<article class="article_create">
  <%= render "form", todo_list: @todo_list %>
</article>

<footer>
  <p class="copyright">@Copyright Trolais Benjamin</p>
  <i class="fa fa-home"></i>
</footer>

