<header class="header_new_list">
  <a class="back_new" href="<%= todo_lists_path %>">
    <i class="fa fa-reply"></i>
  </a>
  <h1>New todo list</h1>
</header>

<article class="article_create">
  <%= render "form", todo_list: @todo_list %>
</article>
