<div><%= notice %></div>

<header class="header">

  <a class="back_new" href="<%= todo_lists_path %>">
    <i class="fa fa-reply"></i>
  </a>

  <h1>
    <%= render @todo_list %>
  </h1>


</header>



<div class="show_list">

</div>

<footer>
  <p class="copyright">@Copyright Trolais Benjamin</p>
  <i class="fa fa-home"></i>

</footer>
