<div><%= notice %></div>

<header class="header_show">
  <%= render @todo_list %>

  <div class="back_list">
    <%= link_to "Back", todo_lists_path %>
  </div>

</header>



<div class="show_list">

</div>

<footer>
  <p class="copyright">@Copyright Trolais Benjamin</p>
  <i class="fa fa-home"></i>

</footer>
